<head>
    <link rel="stylesheet" href="show.scss"/>
</head>
<body>

 

   <h2 class="title-container">Знайдіть місто для відпочинку </h2>

<fieldset class="field-container">
    <%= form_tag(show_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], :class => 'area' %>
    <!-- <%= submit_tag 'Search', :class => 'btn btn-ligth btn-lg'%> -->
    <% end %>
</fieldset>

<div class="slideshow-container">

	<div class="mySlides fade">
	  <%= image_tag '2.jpg', style:"height: 100%; width: 100%;" %>
	</div>
	<div class="mySlides fade">
	  <%= image_tag '3.jpg', style:"height: 100%; width: 100%;"  %>
	</div>

</div>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>

</body>