<body>
<div class="container">



<div id="sidebar">
	<% @orders.each do |order| %>
	<center><span><%= link_to order.product.prname, product_path(order.product_id) %></span></center>
	<br>
		<a class="single_2" href="/assets/<%= order.product.photo_file_name%>">
			 <img src="/assets/<%= order.product.photo_file_name%>"  width="350" height="210"/>
		</a>
	 <br>
	<span>Від <%= order.product.cost%> за добу</span>
	<br> 
	<%= link_to "Видалити", delete_order_path(:id=>order.id), method: :put, data: {confirm: 'are_you_sure?'}, class: 'btn btn-sm btn-size btn-info' %> 
	<hr>

	<%end%>

</div>


	<div id="map"></div>


</div> 


<script src="https://maps.googleapis.com/maps/api/js"></script>
 <script type="text/javascript">
$(document).ready(function() {
    $(".single_2").fancybox({
      openEffect  : 'none',
      closeEffect : 'none',
    });
});
   
  </script>
  <% @orders.each do |order| %>
<script>
	
function initialize(){

 
		var mapCanvas = document.getElementById('map');
		var mapOptions = {
			center: new google.maps.LatLng(48.27,22.9),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);
	
	var Lat = (<%= order.product.lat%>); 
    var Lng = (<%= order.product.lng%>);
    var coordinates = new google.maps.LatLng(Lat, Lng); 

    var Latit = (<%= order.product.lat%>); 
    var Lngit= (<%= order.product.lng%>);
    var coordinatesit = new google.maps.LatLng(Latit, Lngit);



				locations = [
    [48.6236075,22.9333669],
    [48.625148,22.947258],
    [48.5931465,22.972106],
    
    [48.5901842,22.9746168]
  ];

      for (var i=0; i<locations.length; i++) {
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][0], locations[i][1]),
        position: coordinates,
        map: map
      });
       var marker = new google.maps.Marker({
        position: coordinatesit,
        map: map
      })
    }

		marker.setMap(map);
	}
	google.maps.event.addDomListener(window, 'load', initialize);

</script>
<% end %>

</body>