<html>
  <head>
 <link rel="stylesheet" type="text/css" href="products.scss" media="screen" />
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>


<body>

    <div id="container">
      <div id="header">

<a class="fancybox" rel="gallery1" href="/assets/<%= @product.photo_file_name%>">
  <img src="/assets/<%= @product.photo_file_name%>"  width="1300" height="540"/>
</a>

<a class="fancybox" rel="gallery1" href="/assets/<%= @product.photo_file_name%>">
 
</a>
          
      </div>

      <div id="menu">
         <p style="font-size: 22px !important; text-align: center;"> Від <%= @product.cost%> за добу</p>
         
         <hr>
         <%= link_to "Зберегти", buy_product_path(:id=>@product.id), class: "but" %> 
         <hr>
          <center>
         <h3>Як дібратись</h3>
        <div id="panel"></div>
         </center>
      </div>



      <div id="content">            
         <h1 style="text-align: center; color: #003366;"><%=raw @product.prname%></h1> 
         <hr>
         <p><%=raw @product.description%> <br> </p>
         <hr>
         <center> <p> Місце знаходження : <%=raw @product.maker%>  </p> </center>
         <hr>
      </div>


      <div id="maps"></div>   



      <div id="comments">

              <% if @comments == nil%>
              <h6>Для даного закладу ще немає відгуків</h6>
              <%else%>
              
              <% @comments.each do |comment|%>
              <p style="font: 18px Georgia, Times New Roman, Times, serif !important; float:left; margin-left: 15px; margin-top: 20px;"> 
              <%= comment.body%>
              <p style="float:right; font: 18px Georgia, Times New Roman, Times, serif !important; margin-right:15px; margin-top: 20px;">
              <%= link_to 'Delete', product_comment_path(:id=>comment.id), method: :put, data: { confirm: 'are_you_sure?' } %>
                        </p> </p>
              <br>
              <hr>

              <% end %>
              <% end %>

              <%= render 'comments/form' %>
      </div>
          
    </div>


    <script type="text/javascript">
$(document).ready(function() {
  $(".fancybox").fancybox({
    openEffect  : 'none',
    closeEffect : 'none'
  });
});
   
  </script>

 <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCz7uaBaPFkRM6TV6EPlajVqfPvmsCzjZw"></script>

 <script>
if (navigator.geolocation) { //Checks if browser supports geolocation
   navigator.geolocation.getCurrentPosition(function (position) {                                                              //This gets the
     var latitude = position.coords.latitude;                    //users current
     var longitude = position.coords.longitude;                 //location
     var coords = new google.maps.LatLng(latitude, longitude); //Creates variable for map coordinates
    
    var Lat = (<%= @product.lat%>);
    var Lng = (<%= @product.lng%>);
    var coordinates = new google.maps.LatLng(Lat, Lng); 
    
     var directionsService = new google.maps.DirectionsService();
     var directionsDisplay = new google.maps.DirectionsRenderer();
     var mapOptions = //Sets map options
     {
       zoom: 15,  //Sets zoom level (0-21)
       center: coords, //zoom in on users location
       mapTypeControl: true, //allows you to select map type eg. map or satellite
       navigationControlOptions:
       {
         style: google.maps.NavigationControlStyle.SMALL //sets map controls size eg. zoom
       },
       mapTypeId: google.maps.MapTypeId.ROADMAP //sets type of map Options:ROADMAP, SATELLITE, HYBRID, TERRIAN
     };
     map = new google.maps.Map(document.getElementById("maps"), mapOptions);
     directionsDisplay.setMap(map);
     directionsDisplay.setPanel(document.getElementById('panel'));
     var request = {
       origin: coords,
       destination: coordinates,
       travelMode: google.maps.DirectionsTravelMode.DRIVING
     };
     directionsService.route(request, function (response, status) {
       if (status == google.maps.DirectionsStatus.OK) {
         directionsDisplay.setDirections(response);
       }
     });
   });
 }
function calculateAndDisplayRoute(directionsService, directionsDisplay) {  
  var start = document.getElementById('coords').value;  
  var end = document.getElementById('coordinates').value;  
  directionsService.route({  
    origin: coords,  
    destination: coordinates,  
    travelMode: google.maps.TravelMode.DRIVING  
  }, function(response, status) {  
    if (status === google.maps.DirectionsStatus.OK) {  
      directionsDisplay.setDirections(response);  
    } else {  
      window.alert('Directions request failed due to ' + status);  
    }  
  });  
}
    </script>

</body>
</html>